body{
    background-image:url('drumbg.jpg');
    background-size: cover;
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    
}

.key{
    width: 41px;
    display: inline-block;
    text-align: center;
    border: solid aliceblue 3.5px;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    margin: 0.35rem;
    transition: all 0.07s;
}

.play{
    transform: scale(1.1);
    border-color: rgb(236, 236, 75);
    box-shadow: 1px 1px 4px rgb(236, 236, 75);
    box-shadow: 1px 1px 4px rgb(236, 236, 75) inset;

}

kbd{
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 700;
}
.sound{
    color: rgb(236, 236, 75);
}